<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h3 style="color: aquamarine;">This is profile page </h3>
    <h5>Welcome <%=  user.name%></h5>
     <ul>
        <% user.skills.forEach((item)=> { %>

            <li><%= item %></li>

         <% }) %>
     </ul>
   
</body>
</html>